@using events.tac.local.Models
@using TAC.Utils.Helpers
@model EventsList

<!-- [Search input] -->
<div class="" style="margin-bottom: 30px">
    <div class="row">
        <div class="col-xs-6 col-md-8"></div>
        <div class="col-xs-6 col-md-4">
            <form action="/Search" method="get">
                <div class="input-group">
                    <input id="txtSearch" type="text" class="form-control" placeholder="Search" name="name" list="txtSearchList" onkeyup="getEvents(this)"/>
                    <datalist id="txtSearchList"></datalist>
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            <span class="fa fa-search"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- [/Search input] -->

<!-- [Search results] -->
<div class="content-list newslist">
    <ol class="media-list">
        @foreach (var item in Model.Events)
        {
            <li class="media media-align-middle">
                <div class="media-left">
                    <a href="@item.Url_">@item.EventImage</a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">
                        <a href="@item.Url_">@item.ContentHeading</a>
                    </h3>
                    <div class="description">
                        <p>@item.ContentIntro</p>
                    </div>
                </div>
                <div class="metadata well">@item.StartDate</div>
            </li>
        }
    </ol>
</div>
@Html.Pager(Model.PageSize, Model.TotalResultCount)
<!-- [/Search results] -->