@using accounts.tac.local.Extensions
@using accounts.tac.local.Extensions.SitecoreExtensions
@using Sitecore.Mvc.Configuration
@model accounts.tac.local.Models.PasswordResetInfo

@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form-signin" }))
{
  @Html.Sitecore().FormHandler()
  <div class="form-group @Html.ValidationErrorFor(x => x.UserName, "has-error")">
    @Html.LabelFor(x => x.UserName, new
{
  @class = "control-label"
})

    @Html.TextBoxFor(x => x.UserName, new
                                   {
                                     @class = "form-control",
                                     id = "registerUserName",
                                     placeholder = "Please enter UserName you used to register"
                                   })
    @Html.ValidationMessageFor(x => x.UserName, "", new { @class = "help-block" }, "p")

  </div>

  <input type="submit" class="btn btn-primary btn-lg btn-block" value="Reset password" />
  <div class="help-block">The new password will be sent to your e-mail.</div>
}